<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OpenAPI Seminar 2014 conduit example</title>
  <meta name="description" content="Pipeline and module scripts from Paul
				    Murrell's 2014 OpenAPI seminar adapted
				    to run in conduit">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>

<p>
  <!--begin.rcode
      2+2
      end.rcode-->
</p>

</body>
</html>
