<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <title>Examples from 'The openapi Project' in conduit</title>
    <meta name="description" content="Pipeline and module scripts from Paul
				      Murrell's 2014 OpenAPI seminar adapted
				      to run in conduit">
    <meta name="author" content="SitePoint">

    <style type="text/css">
      div.main {
        margin: auto;
        width: 800px;
      }
    </style>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  </head>

  <body>

    <div class="main">
    
    <h1>Examples from 'The openapi project' in conduit</h1>

    <p>By Paul Murrell and Ashley Noel Hinton</p>

    <p><!--rinline I(format(Sys.Date(), "%e %B %Y")) --></p>

    <p>Paul Murrell's talk, <a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/">The openapi Project</a>, introduced the goals and ideas of 
      openapi, and demonstrated some pipeline examples in a 
      prototype glue system <a href="https://github.com/pmur002/oaglue">
	oaglue</a>. This page details the same pipeline examples being run
      in another prototype glue system, <a href="https://github.com/anhinton/conduit">conduit</a>. Both prototypes are R packages.</p>

    <p>As 'oaglue' and 'conduit' are both under active development,
      the pipeline XML scripts from the talk needed to be modified to run in
      'conduit'. A comparison of the pipeline XML file for the first example
      follows.</p>

    <p><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/XML/birthrate-pipe.xml">Original pipeline XML file</a>:</p>

<!--begin.rcode echo=FALSE
escHTML <- function(x) {
    gsub("<", "&lt;", 
         gsub(">", "&gt;", 
              gsub("&", "&amp;", x)))
}
cat(escHTML(getURL("https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/XML/birthrate-pipe.xml")))
end.rcode-->

    <p><a href="scripts/wikinz/birthrate-pipe.xml">Modified pipeline XML
	file</a>:</p>

<!--begin.rcode echo=FALSE
cat(escHTML(readLines("scripts/wikinz/birthrate-pipe.xml")), sep="\n")
end.rcode-->

    <p>The differences between the two documents mostly relate to the naming
      of XML nodes and attributes. The basic structure of
      a list of components and a list of pipes connecting components is
      visible in both versions.
    </p>

    <p>The module and pipeline XML files are found in the <a href="https://github.com/anhinton/conduit-seminar2014/tree/gh-pages/scripts">
	scripts sub-directory</a>, with a further subdirectory for the
      <a href="https://github.com/anhinton/conduit-seminar2014/tree/gh-pages/scripts/wikinz">
	Wiki NZ</a> example and the
      <a href="https://github.com/anhinton/conduit-seminar2014/tree/gh-pages/scripts/internetparty">
	Internet Party</a> example.
      Data and source files for each example are found in the respective
      sub-directories.</p>

    <p>The results of running the pipelines can be found in the
      <a href="https://github.com/anhinton/conduit-seminar2014/tree/gh-pages/pipelines">pipelines sub-directory</a>. These pipelines were
	run on Ubuntu 14.04 64-bit machine, using R 3.1.1. Modules requiring
	the Python platform were run in Python 2.7 with the NumPy package
	and matplotlib library available.</p>
    
    <p>
      A tarball of
      <a href="https://github.com/anhinton/conduit-seminar2014/raw/gh-pages/conduit_0.1-0-2014-09-19.tar.gz">
	the conduit package</a> as it
      was when this page was created is provided. Several other R packages
      are required, a list of which <a href="#sessionInfo">follows the
	examples</a>.</p>  
    
    <p>Each example title is a link to the example in the original talk
      slides.</p>

    <h2>Examples</h2>

<!--begin.rcode include=FALSE
install.packages("conduit_0.1-0-2014-09-19.tar.gz")
library(conduit)
end.rcode-->
    
    <h3>
      <a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#14.0">openapi is a Glue System</a>
    </h3>

<!--begin.rcode 
birthrate <- loadPipeline("scripts/wikinz/birthrate-pipe.xml", 
	                          "birthrate")
runPipeline(birthrate)
list.files("pipelines/birthrate/modules", recursive=TRUE)
end.rcode-->

    <h3><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#15.0">openapi is...</a></h3>

<!--begin.rcode
library(gridGraphviz)
library(gridSVG)
gridsvg("birthrate-pipe.svg", width=4, height=3)
grid.graph(agopenTrue(conduit:::graphPipeline(birthrate), "birthrate", 
                      attrs=list(node=list(shape="ellipse"))))
dev.off()
end.rcode-->   

    <p class="fig">
      <img src="birthrate-pipe.svg" alt="Graph of birthrate pipeline">
    </p> 

    <h3><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#16.0">An openapi example</a></h3>

<!--begin.rcode
birthrate_custom <- loadPipeline("scripts/wikinz/birthrate-pipe-custom.xml",
                                 "birthrate_custom")
runPipeline(birthrate_custom)
list.files("pipelines/birthrate_custom", recursive=TRUE)
gridsvg("birthrate-custom-pipe.svg", width=4, height=3)
grid.graph(agopenTrue(conduit:::graphPipeline(birthrate_custom), 
                      "birthrate_custom", 
                      attrs=list(node=list(shape="ellipse"))))
grid.edit("box-brplot-R-custom", gp=gpar(fill="green"))
dev.off()
end.rcode--> 

    <p class="fig">
      <img src="birthrate-custom-pipe.svg" alt="Graph of customised birthrate
						pipeline">
    </p> 

    <p class="fig">
      <img src="pipelines/birthrate_custom/modules/brplot-R-custom/birthrate-R.svg"
	   alt="Birthrate plot generated by pipeline">
    </p>

    <h3><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#20.0">Another openapi example</a></h3>

<!--begin.rcode
birthrate_python <- loadPipeline("scripts/wikinz/birthrate-pipe-python.xml",
                                 "birthrate_python")
runPipeline(birthrate_python)
list.files("pipelines/birthrate_python", recursive=TRUE)
library(gridSVG)
gridsvg("birthrate-pipe-python.svg", width=4, height=3)
grid.graph(agopenTrue(conduit:::graphPipeline(birthrate_python), 
                      "birthrate_python", 
                      attrs=list(node=list(shape="ellipse"))))
grid.edit("box-brplot-py", gp=gpar(fill="green"))
dev.off()
end.rcode-->

    <p class="fig">
      <img src="birthrate-pipe-python.svg" alt="Plot of python birthrate
						pipeline">
    </p>

    <p class="fig">
      <img src="pipelines/birthrate_python/modules/brplot-py/birthrate-py.svg"
	   alt="Birthrate plot from python birthrate pipeline">
    </p>

    <p><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#33.0">Yet another openapi example</a></p>

<!--begin.rcode
plotPipe <- loadPipeline("scripts/internetparty/plotPipe.xml", "plotPipe")
library(gridSVG)
gridsvg("plotPipe.svg", width=4, height=4)
grid.graph(agopenTrue(conduit:::graphPipeline(plotPipe), 
                      "plotPipe", 
                      attrs=list(node=list(shape="ellipse"))))
dev.off()
end.rcode-->

    <p style="fig">
      <img src="plotPipe.svg" alt="Graph of Internet NZ Plot pipeline">
    </p>

    <h3><a href="https://www.stat.auckland.ac.nz/~paul/Talks/OpenAPI2014/openapi.html#36.0">Yet another openapi example</a></h3>

<!--begin.rcode
piePipe <- loadPipeline("scripts/internetparty/piePipe.xml")
runPipeline(piePipe)
list.files("pipelines/piePipe", recursive=TRUE)
library(gridSVG)
gridsvg("piePipe.svg", width=4, height=4)
grid.graph(agopenTrue(conduit:::graphPipeline(piePipe), 
                      "piePipe", 
                      attrs=list(node=list(shape="ellipse"))))
grid.edit("box-pie", gp=gpar(fill="green"))
dev.off()
end.rcode-->

    <p style="fig">
      <img src="piePipe.svg" alt="Graph of pie graph pipeline">
    </p>

    <p class="fig">
      <object width="350" height="350"
              data="pipelines/piePipe/modules/pie/pie.svg" 
              type="image/svg+xml"> </object>
    </p>

<!--begin.rcode
reportPipe <- loadPipeline("scripts/internetparty/reportPipe.xml", "reportPipe")
runPipeline(reportPipe)
list.files("pipelines/reportPipe", recursive=TRUE)
end.rcode-->

    <iframe width="500" height="700" 
            src="pipelines/reportPipe/modules/report/report.html"></iframe>

<!--begin.rcode
library(gridSVG)
gridsvg("reportPipe.svg", width=4, height=4)
grid.graph(agopenTrue(conduit:::graphPipeline(reportPipe), 
                      "reportPipe", 
                      attrs=list(node=list(shape="ellipse"))))
dev.off()
end.rcode-->

    <p style="fig">
      <img src="reportPipe.svg" alt="Graph of report pipeline">
    </p>

    <hr>

    <div id="sessionInfo">
<!--begin.rcode
sessionInfo()
end.rcode-->
    </div>

    <hr>

    This page was produced using the '<a href="http://yihui.name/knitr/">
      knitr</a>' package in R. The page source can be found at
    <a href="conduit-seminar2014.Rhtml">conduit-seminar.Rhtml</a>.

    </div>

  </body>
</html>
